@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");

/* html {

} */

body {
  background-color: #0c113b;
  background: #0c113b url("/assets/img/bg.jpg") no-repeat center/cover;
  height: 100vh;
  width: 100vw;
  font-family: "Inter", sans-serif;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}

header {
  height: 15%;
  max-width: 1000px;
  margin: 0 auto;
}

header img {
  height: 30px;
  margin: 3% 0;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1000px;
}

section {
  text-align: left;
  flex: 1;
  margin-top: 4%;
}

section h1 {
  font-size: 4.4rem;
  font-family: "Outfit", sans-serif;
  line-height: 0.8;
}

section h1 span {
  font-weight: bold;
}

section h2 {
  margin: 5% 0 1% 0;
  font-size: 1.9rem;
  font-weight: bold;
  color: #d20094;
  font-family: "Outfit", sans-serif;
}

section ul {
  margin: 5% 0 8% 2.3%;
}

section ul li {
  list-style-type: disc;
  margin: 1% 0;
}

section ul li span {
  font-weight: bold;
}

section label {
  font-size: 0.8rem;
  font-weight: bold;
}

#checkBox{
  position: relative;
}

#checkBox input{
  opacity: 0;
}

#checkBox label:before {
  content: '';
  position: absolute;
  left: 2px;
  top: 3px;
  width: 13px;
  height: 13px;
  border: 2px solid white;
  background-color: transparent;
}

#checkBox input:checked + label:before {
  background-color: #00ffff;
}

#proceedNextPage {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blueButton {
  padding: 2% 6%;
  border-style: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #00ffff;
  color: #0c113b;
  font-family: "Outfit", sans-serif;
  cursor: pointer;
}

.blueButton:hover {
  box-shadow: 0 0 25px #00ffff;
}

/* PAGE 2 */
#quizContainer {
  /*  display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 90%;
  padding-top: 2%;
  padding-bottom: 4%;
}

#timer {
  position: fixed;
  top: 3%;
  right: 10%;
}

#quiz {
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  margin: 75px;
}

#options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
}

#quizContainer .option {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 2% 0;
  flex-basis: 40%;
  margin: 2%;
  background-color: rgba(61, 61, 61, 0.3);
  color: white;
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 0px -1px 0px 1px #ffffff;
}

#quizContainer .option:hover {
  background-color: #d20094;
}

#questionCounter {
  position: absolute;
  bottom: 10%;
  text-align: center;
  font-size: 1.1rem;
  letter-spacing: 1.5px
}

/* PAGE 3 */
#resultsContainer {
  /* display: flex; */
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  text-align: center;
  width: 70%;
}

#resultsContainer > div {
  padding: 0 4% 7%;
}

#resultsContainer h3 {
  font-size: 2.7rem;
  font-weight: bold;
  margin-bottom: 1%;
}

#summary p{
  font-size: 1.4rem;
}

#infoGraphic {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 15%;
}

/* correct and wrong div */

#correct-result,
#wrong-result {
  color: white;
  line-height: 1.1;
}

#correct-result p:nth-child(1),
#wrong-result p:nth-child(1) {
  font-size: 2.6rem;
}

#correct-result p:nth-child(2),
#wrong-result p:nth-child(2) {
  font-weight: bold;
  font-size: 2.2rem;
}

#correct-result p:last-child,
#wrong-result p:last-child {
  font-size: 0.9rem;
}

#correct-result {
  text-align: left;
}

#wrong-result {
  text-align: right;
}

/* donut */
#donut {
  text-align: center;
  margin-left: -2%;
  height: 300px;
  width: 300px;
}

#container {
  height: 100%;
  width: 100%;
}

#donut h4,
h5 {
  font-size: 1rem;
  margin: 0 auto;
  padding: 1%;
  font-weight: bold;
  width: 80%;
}

#donut h5 {
  color: #00ffff;
  margin-bottom: 10%;
}

#donut p {
  font-size: 0.8rem;
  width: 70%;
  margin: 0 auto;
}

#donut p:last-child{
  width: 74%;
  line-height: 1.1;
  font-size: 0.7rem;
}

#rateUsBtn {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid white;
  color: white;
  padding: 2% 9%;
  margin: 0% auto;
  font-size: 1.3rem;
}

#rateUsBtn:hover {
  color: black;
  background-color: #00ffff;
  box-shadow: 0 0 25px #00ffff;
}

/* PAGE 4 */
#rateUs {
  /*   display: flex; */
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin-top: 4%;
}

#rateUs h3 {
  font-size: 3rem;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

#rateUs > div p {
  margin: 2% 0;
  padding: 2% 15%;
  font-size: 1.4rem;
  line-height: 1.2;
}

#leaveFeedback {
  margin-top: 5%;
}

#leaveFeedback input {
  display: block;
  width: 69%;
  background-color: transparent;
  border: none;
  border-bottom: #d20094 solid 2px;
  padding: 1% 5%;
  color: white;
  margin: 0 auto;
  font-size: 1rem;
}

#leaveFeedback input:focus {
  outline: none;
}

#leaveFeedback button {
  margin-top: 6%;
}

.addDisplayFlex {
  display: flex;
}
/* stars */
.divStar {
  display: inline-block;
}

.star path {
  fill: #0e154a;
}

.star path:hover{
  fill: #2130a3
}

/* TIMER */
.timer {
  position: absolute;
  top: 0;
  left: 0;
}

.timer .span {
  display: block;
}

.skill {
  width: 130px;
  height: 130px;
  position: relative;
}

.outer {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(145, 145, 145, 0.374);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    6px 6px 10px -1px rgba(30, 30, 30, 0.7);
}

.inner {
  height: 77%;
  width: 77%;
  border-radius: 50%;
  background-color: #632572;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(77, 77, 77, 0.7),
    -0.5px -0.5px 0px rgb(22, 22, 22), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#timerInfo span {
  display: block;
}

#timerInfo span:first-child,
#timerInfo span:last-child {
  font-size: 0.55rem;
  margin: 4% 0;
  color: rgb(176, 176, 176);
  text-transform: uppercase;
}

#timerInfo span:first-child {
  font-weight: bold;
}

#timerNumber {
  font-size: 2.5rem;
}

#timerSvg {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(270deg);
}

.startAnimation {
  stroke-dasharray: 380; /*472px*/
  stroke-dashoffset: 0;
  animation: anim 30s backwards linear;
}

@keyframes anim {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 380;
  }
}

/* ANSWER PROGRESS BAR */
.container {
  display: grid;
  place-items: center;
  color: white;
}

.circularProgressBar {
  position: relative;
  height: 300px;
  width: 300px;

  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circularProgressBar:before {
  content: "";
  position: absolute;
  height: 70%;
  width: 70%;
  background-color: #0c113b;
  border-radius: 50%;
}

.valueContainer {
  position: relative;
  font-size: 2rem;

  text-align: center;
}

.hide {
  display: none;
}
