@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Outfit:wght@400;700&display=swap");

html {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  background-color: #0c113b;
  background: #0c113b url("/assets/img/bg.jpg") no-repeat top center;
  max-width: 900px;
  height: 100vh;
  font-family: "Inter", sans-serif;
  color: white;
}

header {
  height: 10%;
}
header img {
  width: 15%;
  padding-left: 7%;
  padding-top: 3%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 3% 0;
}

section {
  text-align: left;
}

section h1 {
  font-size: 3.5rem;
  font-family: "Outfit", sans-serif;
}

section h1 span {
  font-weight: bold;
}

section h2 {
  margin: 5% 0 2% 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #d20094;
  font-family: "Outfit", sans-serif;
}

section ul {
  margin: 8% 0 10% 4%;
}

section ul li {
  list-style-type: disc;
  margin: 1% 0;
}

section label {
  font-size: 0.7rem;
}

#proceedNextPage {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blueButton {
  padding: 2% 6%;
  border-style: none;
  font-size: 1rem;
  font-weight: bold;
  background-color: #00ffff;
  color: black;
  font-family: "Outfit", sans-serif;
  box-shadow: 0 0 25px #00ffff;
  cursor: pointer;
}

/* PAGE 2 */
#quizContainer {
  /*  display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#timer {
  position: fixed;
  top: 3%;
  right: 10%;
}

#quiz {
  font-size: 2rem;
  font-family: "Outfit", sans-serif;
  margin: 10%;
}

#options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 1%;
}

#quizContainer .option {
  font-family: "Inter", sans-serif;
  padding: 15px 0;
  width: 250px;
  margin: 2%;
  background-color: rgba(61, 61, 61, 0.3);
  color: white;
  border-radius: 30px;
  border-color: transparent;
  box-shadow: 0px -1px 0px 1px #ffffff;
}

#quizContainer .option:hover {
  background-color: #d20094;
}

#questionCounter {
  position: absolute;
  bottom: 10%;
  text-align: center;
}

/* PAGE 3 */
#resultsContainer {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#resultsContainer h3 {
  font-size: 2.7rem;
  font-weight: bold;
}

#infoGraphic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
}

/* correct and wrong div */

#correct-result p:nth-child(1),
#wrong-result p:nth-child(1) {
  font-size: 1.5rem;
}

#correct-result p:nth-child(2),
#wrong-result p:nth-child(2) {
  font-weight: bold;
  font-size: 1.5rem;
}

#correct-result p:last-child,
#wrong-result p:last-child {
  font-size: 0.7rem;
}

#wrong-result {
  text-align: right;
}

/* donut */
#donut {
  text-align: center;
}

#donut h4,
h5 {
  font-size: 0.8rem;
  margin: 0 auto;
  padding: 1%;
  font-weight: bold;
  width: 80%;
}

#donut h5 {
  color: #00ffff;
  margin-bottom: 13%;
}

#donut p {
  font-size: 0.6rem;
  width: 70%;
  margin: 0 auto;
}

#rateUsBtn {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid white;
  color: white;
  padding: 2% 10%;
  margin: 5%;
}

/* PAGE 4 */
#rateUs {
  /*   display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#rateUs h3 {
  font-size: 3rem;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
}

#rateUs > div p {
  margin: 2% 0;
  padding: 3%;
}

#leaveFeedback {
  margin-top: 5%;
}

#leaveFeedback input {
  display: block;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: #d20094 solid 2px;
  padding: 1% 5%;
  color: white;
}

#leaveFeedback button {
  margin-top: 10%;
}

/* testing, decommenta dopo finito */
.addDisplayFlex {
  display: flex;
}
/* stars */
.divStar {
  display: inline-block;
}

.star path {
  fill: #0b113b;
}

.star path:hover{
  fill: red
}

/* TIMER */
.timer {
  position: absolute;
  top: 0;
  left: 0;
}

.timer .span {
  display: block;
}

.skill {
  width: 110px;
  height: 110px;
  position: relative;
}

.outer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    6px 6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 0255, 0.7),
    -0.5px -0.5px 0px rgba(255, 255, 0255, 1),
    0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

#timerNumber {
  font-weight: bold;
}

#timerSvg {
  position: absolute;
  top: 0;
  left: 0;
}

.startAnimation {
  stroke-dasharray: 472; /*472px*/
  stroke-dashoffset: 0;
  animation: anim 30s forwards linear;
}

@keyframes anim {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: 472;
  }
}

/* ANSWER PROGRESS BAR */
.container {
  height: 300px;
  width: 300px;
  /*   background-color: white; */
  border-radius: 8px;
  display: grid;
  place-items: center;
  color: white;
}

.circularProgressBar {
  position: relative;
  height: 250px;
  width: 250px;

  border-radius: 50%;
  display: grid;
  place-items: center;
}

.circularProgressBar:before {
  content: "";
  position: absolute;
  height: 75%;
  width: 75%;
  background-color: #0c113b;
  border-radius: 50%;
}

.valueContainer {
  position: relative;
  font-size: 2rem;

  text-align: center;
}

.hide {
  display: none;
}
